# TypeScript build info files
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env.*.local

# Optional stylelint cache
.stylelintcache

# Optional Prettier cache
.prettiercache

# Optional coverage directory
coverage/

# Optional test output
/test-results/

# Optional build directory
/build/

# Optional temp directories
/temp/
.tmp/